<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
</head>
<body>
    <form action="/user/<%=user.id%>/feedback" method="POST">
    <input type="text" name="feed" placeholder="Enter your feedback">
    <button>SUBMIT</button>
</form>
</body>
</html>